
<div *ngIf="products">
    <h2><span jhiTranslate="dtoApp.products.detail.title">Products</span> {{products.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dtoApp.products.name">Name</span></dt>
        <dd>
            <span>{{products.name}}</span>
        </dd>
        <dt><span jhiTranslate="dtoApp.products.price">Price</span></dt>
        <dd>
            <span>{{products.price}}</span>
        </dd>
        <dt><span jhiTranslate="dtoApp.products.sale">Sale</span></dt>
        <dd>
            <span>{{products.sale}}</span>
        </dd>
        <dt><span jhiTranslate="dtoApp.products.rating">Rating</span></dt>
        <dd>
            <span>{{products.rating}}</span>
        </dd>
        <dt><span jhiTranslate="dtoApp.products.fresh">Fresh</span></dt>
        <dd>
            <span>{{products.fresh}}</span>
        </dd>
        <dt><span jhiTranslate="dtoApp.products.description">Description</span></dt>
        <dd>
            <span>{{products.description}}</span>
        </dd>
        <dt><span jhiTranslate="dtoApp.products.options">Options</span></dt>
        <dd>
            <div *ngIf="products.optionsId">
                <a [routerLink]="['/options', products.optionsId]">{{products.optionsId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="dtoApp.products.consignment">Consignment</span></dt>
        <dd>
            <div *ngIf="products.consignmentId">
                <a [routerLink]="['/consignment', products.consignmentId]">{{products.consignmentId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="dtoApp.products.subCategory">Sub Category</span></dt>
        <dd>
            <div *ngIf="products.subCategoryId">
                <a [routerLink]="['/sub-category', products.subCategoryId]">{{products.subCategoryId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'products/'+ products.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
